In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import warnings
warnings.filterwarnings('ignore')

https://github.com/parrt/dtreeviz/blob/master/notebooks/colors.ipynb

In [2]:
df = pd.read_csv('data_q.csv')
df.head()

     MONTH                   UNIT_CODE_DESC  QUINTILE
0  2019/05  EF00101-EF00101-Nguyễn Văn Quân       5.0
1  2019/05      FC0036-FC0036 - Lê Ngọc Duy       4.0
2  2019/05       FC0337-FC0337-Từ Kiện Tuấn       3.0
3  2019/05    FC0211-FC0211-Nguyễn Hải Đăng       NaN
4  2019/05    FC0295-FC0295-Nguyễn Duy Linh       4.0

In [218]:
num_month = 4
data = pd.DataFrame()
for i in range(num_month, len(df.MONTH.unique())):
    months = df.MONTH.unique()[i-num_month:i+1]
    print(months)
    # check fc exis
    months_df = [df[df.MONTH == months[i]]['UNIT_CODE_DESC'].tolist() for i in range(num_month-1)] 
    for i, x in enumerate(months_df):
        if i == 0:
            fc_list = list(set(x)) 
        else: 
            fc_list = list(set(fc_list) & set(x))

    # gen df
    for i,month in enumerate(months):
        dt_temp = df[(df.MONTH == month) & (df.UNIT_CODE_DESC.isin(fc_list))][['UNIT_CODE_DESC','QUINTILE']]
        dt_temp.set_index('UNIT_CODE_DESC', inplace=True)
        col_name = f'QUINTILE_{i}' if i < len(months) - 1 else 'QUINTILE_Y'
        dt_temp.columns = [col_name]
        if i == 0:
            df_temp = dt_temp
        else:
            df_temp = pd.concat([df_temp, dt_temp], axis=1, sort=True)
            
    data = data.append(df_temp)
#data.dropna(inplace=True)
data.fillna(6, inplace=True)
data.sort_values('QUINTILE_Y', inplace=True)
data.reset_index(drop=True, inplace=True)
data.head()

['2019/05' '2019/06' '2019/07' '2019/08' '2019/09']
['2019/06' '2019/07' '2019/08' '2019/09' '2019/10']
['2019/07' '2019/08' '2019/09' '2019/10' '2019/11']
['2019/08' '2019/09' '2019/10' '2019/11' '2019/12']
['2019/09' '2019/10' '2019/11' '2019/12' '2020/01']
['2019/10' '2019/11' '2019/12' '2020/01' '2020/02']
['2019/11' '2019/12' '2020/01' '2020/02' '2020/03']
['2019/12' '2020/01' '2020/02' '2020/03' '2020/04']

   QUINTILE_0  QUINTILE_1  QUINTILE_2  QUINTILE_3  QUINTILE_Y
0         2.0         1.0         1.0         2.0         1.0
1         1.0         1.0         2.0         1.0         1.0
2         2.0         2.0         1.0         1.0         1.0
3         2.0         3.0         3.0         1.0         1.0
4         1.0         1.0         1.0         1.0         1.0

In [221]:
ys = [0 if yi < 5 else yi for yi in data.QUINTILE_Y.tolist()]
data['QUINTILE_Y'] = ys
pd.value_counts(ys)

0    9118
dtype: int64

In [210]:
from sklearn.model_selection import train_test_split
X = data.drop(['QUINTILE_Y'],axis=1).values
y = data['QUINTILE_Y'].values
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.015,
    random_state = 15,
    stratify = y
)

In [227]:
from dtreeviz.trees import *
from sklearn.datasets import *
%config InlineBackend.figure_format = 'png'

In [230]:
X = data.drop(['QUINTILE_Y'],axis=1).values
y = data['QUINTILE_Y'].values

classifier = tree.DecisionTreeClassifier(max_depth=4)  # limit depth of tree
classifier.fit(X, y)
regr = tree.DecisionTreeRegressor(max_depth=2)
regr.fit(X, y)

viz = dtreeviz(classifier, 
               X, 
               y,
               target_name='variety',
               #orientation ='LR',
               feature_names=['t-4','t-3','t-2','t-1'], 
               class_names=['non_Bad', 'Bad'],
              
              )  
              
viz.view()